# OSX
.DS_Store

reference/

# Xcode / iOS
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android / IntelliJ
.gradle/
build/
.idea/
local.properties
*.iml
*.hprof
.cxx/
.externalNativeBuild/
.kotlin/
captures/
output-metadata.json

# APK / AAB
*.apk
*.aab

# Keystore (important)
*.keystore
*.jks
!debug.keystore

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*

# Testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Logs
*.log

# Env files
.env

# Google services (optional - remove if you WANT to commit it)
google-services.json